html,
body {
	height: 100%;
	font-size: 16px;
	font-family: "Nunito-Regular";
	background: url('../img/pattern.jpg') center center;
	text-transform: uppercase;
}

/* font faces */

@font-face {
	font-family: 'Cubano-Regular';
	src: local('Cubano-Regular.otf'), url('Cubano-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Nunito-Regular';
	src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
}


#cover {
	height: 100%;
	background: url('../img/trees.jpg') center;
	background-size: cover;
	color: white;
}

.wall-sticker {
	background: rgba(0,0,0,.4);
	padding: 14rem 20rem 16rem 3rem;
	font-family: 'Cubano-Regular';
	font-size: 5rem;
	color: white;
}

.moto {
	font-family: 'Cubano-Regular';
	font-size: 3rem;
	margin-top: 245px;
	margin-left: 350px;
	text-align: center;
}

/*Buttons*/

.btn-lg,
.btn-outline-success {
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid rgba(19, 128, 26, 1);
	font-family: 'Nunito-Regular';
	transition: 0.5s;
}
.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active{
	background-color: rgba(19, 128, 26, .54);
	border: 1px solid rgba(19, 128, 26, 0);
	transition: 0.5s;
}

.fa-arrow-down {
	margin-left: 35rem;
	margin-top: 50px;
	font-size: 2.5rem;
	color: white;
	transition: 0.3s;
}

.fa-arrow-down:hover {
	color: rgba(19, 128, 36, .54);
	transition: 0.3s;
}

.parallax-btn {
	width: 200px;
	margin: 30px auto 0 auto;
}

/*spans*/

.bold-green {
	color: rgba(19, 128, 36, .9);
}
.green-underline {
	border-bottom: 1px solid rgba(19, 128, 36, .9);
}

/*navbar*/
.navbar-brand {
	font-family: "Cubano-Regular";
	padding-right: 15px;
}
#main-nav {
	font-family: "Nunito-Regular";
}
#main-nav li a {
	border-bottom: 1px solid transparent;
	transition: 0.5s;
}
#main-nav li a:hover {
	border-bottom: 1px solid green;
	transition: 0.5s;
}
/*features section*/
.section-features {
	padding: 5rem 0rem;
	background: url('../img/pattern.jpg') center center;
}
.square {
	text-align: center;
}

.square i {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 1rem;
	transition: 0.3s;
}
.square i:hover {
	color: rgba(19, 128, 36, 1);
	transition: 0.3s;
}

.square p {
	padding-top: 1rem;
	font-family: "Nunito-Regular";
	font-size: 1.2rem;
}
.green-hr {
	border-top: 1px solid rgba(19, 128, 36, 1);
	width: 150px;
	background-color: rgba(19, 128, 36, 1);
}
.heading, .under-heading {
	text-align: center;
}

/*timeline section*/

.section-timeline {
	background-color: white;
	padding-top: 5rem;
}
.timeline {
	list-style: none;
	padding: 20px 0px 80px;
	padding-top: 50px;
	position: relative;
}

/*gray line in center of timeline*/
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before,
.timeline > li:after {
	content: "";
	display: table;
}
/*needed because we have two floats in a row*/
.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: 50%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline p {
	font-family: "Nunito-Regular";
	font-weight: 700;
}

.timeline > li:not(.timeline-inverted) {
	padding-right: 90px;
}
.timeline > li.timeline-inverted {
	padding-left: 90px;

}

.timeline > li > .timeline-badge {
	font-size: 1rem; !important
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: rgba(19, 128, 36, 0.82);
	border-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;

}
.far.fa-clock {
	padding-right: 3px;
}

/*parallax section*/

#section-parallax {
	text-align: center;
	background: url("../img/trees.jpg") center repeat fixed;
	padding: 140px 0;
	background-size: cover;
	color: white;

}

/*card section*/



/*cards section*/

#section-cards {
	padding: 5rem 0;
}
#section-cards h2 {
	text-align: center;
}
.card {
	margin-top: 3rem;
}

.card a {
	color: rgba(19, 128, 36, .90);
}
.card a:hover {
	color: rgb(19, 128, 36);
}
.card img {
/*	height: 180px;
width: 415px;*/
transition: 1s;
}
.card img:hover{
	transform: scale(0.98);
	transition: 1s;
}

/*numbers section*/

.section-numbers {
	background: white;
	padding-top: 5rem;
}
h2 {
	text-align: center;
}
.num-content {
	display: table;
	font-size: 20px;
	line-height: 20px;
	height: 140px;
	width: 140px;
	background: rgba(19, 128, 46, 0.91);
	border-radius: 100px;
	color: white;
	transition: .3s;
}
.num .num-content {
	display: table-cell;
	vertical-align: middle;
}

.num {
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin-left: 80px;
}
.num-content p {
	padding-top: 15px;
}
.num-content:hover {
	color: #222;
	transition: .3s;
}

/*testimonials section*/

.section-testimonials {
	padding-top: 5rem;
}
.testimonial {
	margin-top: 5rem;
	padding-bottom: 5rem;
}


.monka-img,
.mario-img,
.monice-img {
	width: 115px;
	height: auto;
	border-radius: 50%;
	transition: 0.5s;
}

.monka-img:hover,
.mario-img:hover,
.monice-img:hover {
	transition: 0.5s;
	transform: scale(0.95);
} 

.testimonial blockquote {
	font-family: "Nunito-Regular";

}

.fa.fa-quote-right {
	margin-left: 8px;
	float: right;
}
.testimonials-hr {
	border-top: 1px solid rgba(19, 128, 36, 1);
	width: 260px;
	background-color: rgba(19, 128, 36, 1);
}

/*contact section */

.section-contact {
	background-color: white;
	padding: 10rem 0;
}

#contact .control-label {
	font-size: 20px;
	line-height: 80%;
	margin-top: 10px;
	/*float: right;*/
}


.form-control {
	font-size: 18px;
}

.form-horizontal {
	padding-top: 5rem;
}

textarea:focus, 
input:focus {
	border-color: rgba(19, 128, 36, 0.53) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px rgba(231, 76, 60, 0.05) !important;
	/*outline: 0 none !important;*/

}

#contact .btn.btn-success {
	border-color: rgba(19, 128, 36, 1);
	border: 1px solid rgba(19, 128, 36, 1);
	border-radius: 5px;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 5rem;
	transition: 0.5s;
}

#contact .btn.btn-success:hover {
	background-color: rgba(19, 128, 36, .9);
	border: 1px solid rgba(19, 128, 36, 1);
	transition: 0.5s;
}

/*footer*/

footer {
	background-color: #222;
	padding-bottom: 10px;
	position: relative;
	text-align: center;
	height: 20%;
}

.social-links {
	list-style: none;
	float: right;
}

.social-links li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
	padding-right: 10px;
}

.social-links li:last-child {
	margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	font-size: 160%;
	transition: 0.2s;
}

.fa-facebook-square:hover {
	color: #3b5998;
}

.fa-twitter-square:hover {
	color: #00aced;
}

.fa-google-plus-square:hover {
	color: #dd4b39;
}

.fa-instagram:hover {
	color: #517fa4;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
	transition: 0.2s;
}

footer p {
	color: #888;
	text-align: center;
	margin-top: 45px;
	font-size: 18px;
}
.fa-chevron-circle-up {
	margin-top: 35px;
	color: rgb(14, 96, 27);
	transition: 0.2s;
}
.fa-chevron-circle-up:hover {
	color: rgba(14, 96, 27, 0.92);
	transition: 0.2s;
}

/*animations*/

.js-wp-1,
.js-wp-2,
.js-wp-3,
.js-wp-4 {
	opacity: 0;
}
.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated,
.js-wp-4.animated {
	opacity: 1;
}
.js-wp-2,
.js-wp-3 {
	animation-delay: 0.7s;
}
.js-wp-4 {
	animation-delay: 1.4s;

}
.js-wp-right,
.js-wp-left {
	opacity: 0;
}
.js-wp-right.animated,
.js-wp-left.animated {
	opacity: 1;
}
